<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nighthawk Guessr</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body style="background-color: #79F8FF;">
    <div class="menuText bounce" style="top: 235px; font-size: 50pt;" onclick="window.location = './game.html'"><a href="http://127.0.0.1:8200/api/leaderboard/leaderboardList">Leaderboards</a></div>
    <div class="menuText bounce" style="top: 340px; font-size: 50pt;">Image Database</div>
    <img src="https://ssvtennis.com/pics/Nikhil%20Chakravarthula786.jpeg" width="100%" height="600"></img>
</body>
</html>